:root {
  --cu-light-blue: rgb(172, 204, 230); /* #accce6 */
  --cc-medium-blue: rgb(74, 133, 200); /* #4a85c8 */
  --cu-dark-blue: rgb(0, 51, 115);     /* #003373 */
  --cc-light-warm-grey: rgb(205, 201, 197); /* #cdc9c5 */
  --cc-dark-warm-grey: rgb(94, 81, 78); /* #5e514e */
  --cc-yellow: rgb(252, 212, 80);       /* #fcd450 */

  --primary-dark-color: var(--cu-dark-blue);
  --primary-light-color: var(--cu-light-blue);
  --primary-highlight-color: var(--cc-yellow);
  --primary-dark-lighter-20: rgb(0, 96, 217);
  --primary-light-lighter-10: rgb(213, 229, 243);

  --error-dark-color: rgb(100, 0, 0);
  --error-light-color: rgb(255, 220, 220);
}
